@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27');

.logo {
    font-family: 'Anton', cursive;
    font-size: 2rem;
    font-weight: bold;
}

body {
    background-image: linear-gradient(to right, white, #BA1646);
}

.carousel-item {
    padding-top: 20px;
    width: 100%;
}

.accordion {
    padding-top: 20px;
}

.estadios {
    width: 100%;
    background-image: linear-gradient(to right, white, #Ecc8D2);
    padding-left: 0px;
    margin-top: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}

.h1-mascote {
    width: 100%;
    background-image: linear-gradient(to right, white, #Ecc8D2);
    padding-left: 0px;
    margin-top: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}

#mascote-texto {
    background-color: white;
    max-height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.473);
    margin-top: 20px;
    border-radius: 5px;
}

#bola {
    width: 100%;
    background-image: linear-gradient(to right, white, #Ecc8D2);
    padding-left: 0px;
    margin-top: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}

#texto-bola {
    background-color: white;
    max-height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.473);
    margin-top: 20px;
    border-radius: 5px;
}

#h1-selecoes {
    width: 100%;
    background-image: linear-gradient(to right, white, #Ecc8D2);
    padding-left: 0px;
    margin-top: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}

.imagem-selecoes {
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    padding-top: 20px;
}

#selecoes {
    margin-bottom: 50px;
}

strong {
    background-color: #ECC8D2;
    font-weight: bold;
}
